h1 {
  text-align: center;
}

body {
  background-color: black;
  color:azure;
}

li {
  margin-bottom: 20px;
}

img {
  width: 130px;
  height: 130px;
  border:ridge black;
  border-width: 15px;
  border-radius: 10px;
  padding: 5px;
}

.left-sidebar {
  float: left;
  width: 250px;
  background-color: slategray;
  border: solid white;
  box-sizing: border-box;
}

.right-sidebar {
  float: right;
  width: 250px;
  background-color:darkslategray;
  border: solid lightgray;
  box-sizing: border-box;
}

.section {
  font-family:fantasy;
  font-size: 20px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  color: white;
  background-color: grey;
  border: ridge white;
  border-width: 10px;
  text-align: center;
}

.heading {
  background-color: slategray;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  color: black;
  border: ridge grey;
  border-width: 20px;
  font-family: monospace;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-style:hidden;
  border-radius: 30px;
  padding-bottom: 30px;
}

.content {
  font-size: 19px;
  text-align: center;
  font-family: monospace;
}