h1 {
  text-align: center;
}

body {
  background-color: black;
}

li {
  margin-bottom: 15px;
}

img {
  width: 100px;
  height: 100px;
  border-style:ridge;
  border-width: 15px;
  border-radius: 30px;
  border-color: grey;
  background-color: black;
}

.left-sidebar {
  float: left;
  width: 250px;
  color: black;
  background-color: antiquewhite;
  border: solid darkgrey;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.right-sidebar {
  float: right;
  width: 250px;
  background-color:antiquewhite;
  color: black;
  border: solid darkgrey;
  box-sizing: border-box;
}

.central {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 40px;
}

.section {
  font-family:fantasy;
  font-size: 20px;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  color: white;
  background-color: grey;
  border: ridge white;
  border-width: 10px;
  text-align: center;
}

.heading {
  background-color: slategray;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  color: black;
  border-style:ridge;
  border-width: 20px;
  border-color: gray;
  font-family: monospace;
}

.logo {
  margin-left: 300px;
  margin-right: auto;
  border-style:groove;
  background-color: white;
  border-radius: 30px;
}

.content {
  font-size: 20px;
  text-align: center;
  font-family: monospace;
}